@import "tailwindcss";

@theme {
  --color-green: #4ecdc4;
  --color-light: #f7fff7;
  --color-red: #ff6b6b;
  --color-dg: #1a535c;
  --color-yellow: #ffe66d;
  --color-light-transparent: #f7fff7f0;

  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

  --font-tiny: "Tiny5";
  --font-jersey: "Jersey 20";

  --animate-shake: shake 1s ease-in-out 2;
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
