@import "tailwindcss";

@theme {
  --color-green: #4ecdc4;
  --color-light: #f7fff7;
  --color-red: #ff6b6b;
  --color-dg: #1a535c;
  --color-yellow: #ffe66d;
  --color-light-transparent: #f7fff7f0;

  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

  --font-tiny: "Tiny5";
  --font-jersey: "Jersey 20";

  --animate-shake: shake 1s ease-in-out 2;
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(300deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  width: 40px;
  height: 40px;
  background: #ffff00;
  animation: l7 2s infinite;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l7 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
